@media (min-width: 768px) {
    form {
        display: flex;
        flex-direction: column;
        width: 36%;

        [nz-input] {
            width: 300px
        }
    }

}

@media (max-width: 767px) {
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

button {
    margin-left: 5px;
}

nz-form-label {
    font-weight: bold;
}

nz-input-group {
    [nz-input] {
        margin-bottom: 5px;
    }
}