<h1>Crear Ficha</h1>
<hr />

<nz-spin [nzSpinning]="!paginaCargada" [nzTip]="'Cargando formulario...'">
</nz-spin>

<form nz-form nzLayout="vertical" [formGroup]="formularioFicha" *ngIf="paginaCargada" (ngSubmit)="onSubmit()">
    <div formGroupName="ficha" id="formularioFicha">
        <nz-form-item>
            <nz-form-label nzRequired>Cliente</nz-form-label>
            <nz-form-control [nzErrorTip]="clienteErrorTpl">
                <nz-select nzShowSearch formControlName="id_cliente" nzPlaceHolder="Selecciona un cliente">
                    <nz-option *ngFor="let cliente of clientes"
                        [nzLabel]="cliente.usuario.nombres + ' ' + cliente.usuario.apellido_p + ' ' + cliente.usuario.apellido_m"
                        [nzValue]="cliente.id_cliente">
                    </nz-option>
                </nz-select>
                <ng-template #clienteErrorTpl let-control>
                    <ng-container *ngIf="control.errors?.['required']">Selecciona un cliente</ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzRequired>Vehículo</nz-form-label>
            <nz-form-control [nzErrorTip]="vehiculoErrorTpl">
                <nz-select nzShowSearch nzAllowClear formControlName="id_vehiculo"
                    nzPlaceHolder="Selecciona un vehículo">
                    <nz-option *ngFor="let vehiculo of vehiculos" [nzLabel]="vehiculo.placa"
                        [nzValue]="vehiculo.id_vehiculo">
                    </nz-option>
                </nz-select>
                <ng-template #vehiculoErrorTpl let-control>
                    <ng-container *ngIf="control.errors?.['required']">Selecciona un vehículo</ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzRequired>Fecha de Ingreso</nz-form-label>
            <nz-form-control [nzErrorTip]="fechaErrorTpl">
                <nz-date-picker formControlName="fecha" nzPlaceHolder="Selecciona una fecha" nzFormat="yyyy-MM-dd">
                </nz-date-picker>
                <ng-template #fechaErrorTpl let-control>
                    <ng-container *ngIf="control.errors?.['required']">Selecciona una fecha</ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label>Otros</nz-form-label>
            <nz-form-control>
                <textarea nz-input rows="4" formControlName="otros"></textarea>
            </nz-form-control>
        </nz-form-item>
    </div>

    <div id="reparacionesTransfer">
        <nz-form-item>
            <nz-form-label nzRequired>Reparaciones</nz-form-label>
            <nz-transfer [nzDataSource]="listaReparacionesTransfer" nzShowSearch [nzFilterOption]="filterOption"
                (nzChange)="handleTransferChange($event)">
            </nz-transfer>
        </nz-form-item>
    </div>

    <div formArrayName="reparaciones" id="formularioReparaciones">
        <div *ngFor="let reparacion of reparaciones.controls; let i = index" [formGroupName]="i">
            <input formControlName="id_reparacion" hidden />
            @if ([4, 9, 13, 14, 15, 21, 22, 23, 24, 25].includes(reparacion.get('id_reparacion')?.value)) {

            <nz-form-label>{{ getNombreReparacion(reparacion.get('id_reparacion')?.value) }}</nz-form-label>

            }
            <div *ngIf="reparacion.get('informacion_adicional')">
                <div [formGroupName]="'informacion_adicional'">
                    <nz-form-item *ngIf="reparacion.get('informacion_adicional')?.get('kilometraje_actual')">
                        <nz-form-label>Kilometraje Actual:</nz-form-label>
                        <nz-form-control [nzErrorTip]="kmActErrorTpl">
                            <input nz-input formControlName="kilometraje_actual" />
                        </nz-form-control>
                        <ng-template #kmActErrorTpl let-control>
                            @if (control.errors?.['required']) {
                            Ingresa el kilometraje actual
                            }
                            @if (control.errors?.['pattern']) {
                            Solo se aceptan números enteros positivos
                            }
                        </ng-template>
                    </nz-form-item>

                    <nz-form-item *ngIf="reparacion.get('informacion_adicional')?.get('kilometraje_siguiente')">
                        <nz-form-label>Kilometraje Siguiente:</nz-form-label>
                        <nz-form-control [nzErrorTip]="kmSigErrorTpl">
                            <input nz-input formControlName="kilometraje_siguiente" />
                        </nz-form-control>
                        <ng-template #kmSigErrorTpl let-control>
                            @if (control.errors?.['required']) {
                            Ingresa el kilometraje actual
                            }
                            @if (control.errors?.['pattern']) {
                            Solo se aceptan números enteros positivos
                            }
                        </ng-template>
                    </nz-form-item>

                    <nz-form-item *ngIf="reparacion.get('informacion_adicional')?.get('ruedas')">
                        <nz-form-label>Ruedas:</nz-form-label>
                        <nz-form-control [nzErrorTip]="ruedasErrorTpl">
                            <nz-select formControlName="ruedas" [nzMaxTagCount]="4" nzMode="multiple"
                                nzPlaceHolder="Seleccione las ruedas"
                                [nzOptions]="[{label: 'DD', value: 'DD'}, {label: 'DI', value: 'DI'}, {label: 'TD', value: 'TD'}, {label: 'TI', value: 'TI'}]">
                            </nz-select>
                        </nz-form-control>
                        <ng-template #ruedasErrorTpl let-control>
                            @if (control.errors?.['required']) {
                            Selecciona al menos una rueda
                            }
                        </ng-template>
                    </nz-form-item>

                    <nz-form-item *ngIf="reparacion.get('informacion_adicional')?.get('zona')">
                        <nz-form-label>Zona:</nz-form-label>
                        <nz-form-control [nzErrorTip]="zonaErrorTpl">
                            <nz-select formControlName="zona" nzPlaceHolder="Seleccione la zona" nzMode="multiple"
                                [nzOptions]="[{label: 'FRENTE', value: 'FRENTE'}, {label: 'POSTERIOR', value: 'POSTERIOR'}]">
                            </nz-select>
                        </nz-form-control>
                        <ng-template #zonaErrorTpl let-control>
                            @if (control.errors?.['required']) {
                            Selecciona una zona
                            }
                        </ng-template>
                    </nz-form-item>
                </div>

            </div>
        </div>
    </div>

    <nz-form-item>
        <nz-form-control>
            <button nz-button nzType="primary" [disabled]="!formularioFicha.valid" [nzLoading]="status === 'loading'">
                Crear Ficha
            </button>

            <button nz-button (click)="cancelar()">
                Cancelar
            </button>
        </nz-form-control>
    </nz-form-item>
</form>