@media (min-width: 768px) {
    form {
        display: flex;
        flex-direction: column;
        width: 36%;

        [nz-input] {
            width: 300px
        }
    }

}

@media (max-width: 767px) {
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

nz-form-control {
    button:last-child {
        margin-left: 5px;
    }
}

nz-form-label {
    font-weight: bold;
}