<h1>Crear Ficha</h1>
<hr />

<nz-spin [nzSpinning]="!paginaCargada" [nzTip]="'Cargando formulario...'">
</nz-spin>

<form nz-form nzLayout="vertical" [formGroup]="formularioFicha" *ngIf="paginaCargada">
    <div formGroupName="ficha">
        <nz-form-item>
            <nz-form-label nzRequired>Cliente</nz-form-label>
            <nz-form-control [nzErrorTip]="clienteErrorTpl">
                <nz-select nzShowSearch nzAllowClear formControlName="id_cliente" nzPlaceHolder="Selecciona un cliente">
                    <nz-option *ngFor="let cliente of clientes"
                        [nzLabel]="cliente.usuario.nombres + ' ' + cliente.usuario.apellido_p"
                        [nzValue]="cliente.id_cliente">
                    </nz-option>
                </nz-select>
                <ng-template #clienteErrorTpl let-control>
                    <ng-container *ngIf="control.errors?.['required']">Selecciona un cliente</ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzRequired>Vehículo</nz-form-label>
            <nz-form-control [nzErrorTip]="vehiculoErrorTpl">
                <nz-select nzShowSearch nzAllowClear formControlName="id_vehiculo"
                    nzPlaceHolder="Selecciona un vehículo">
                    <nz-option *ngFor="let vehiculo of vehiculos" [nzLabel]="vehiculo.placa"
                        [nzValue]="vehiculo.id_vehiculo">
                    </nz-option>
                </nz-select>
                <ng-template #vehiculoErrorTpl let-control>
                    <ng-container *ngIf="control.errors?.['required']">Selecciona un vehículo</ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label>Otros</nz-form-label>
            <nz-form-control>
                <textarea nz-input rows="4" formControlName="otros"></textarea>
            </nz-form-control>
        </nz-form-item>
    </div>

    <nz-transfer [nzDataSource]="listaReparacionesTransfer" nzShowSearch
        [nzListStyle]="{ 'width.px': 270, 'height.px': 300 }" (nzChange)="handleTransferChange($event)">
    </nz-transfer>

    <div formArrayName="reparaciones">
        <div *ngFor="let reparacion of reparaciones.controls; let i = index" [formGroupName]="i">
            <nz-form-item>
                <nz-form-label>Tipo de Reparación:</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="tipo_reparacion" readonly />
                </nz-form-control>
            </nz-form-item>

            <div *ngIf="reparacion.get('informacion_adicional')">
                <div [formGroupName]="'informacion_adicional'">
                    <nz-form-item *ngIf="reparacion.get('informacion_adicional')?.get('kilometraje_actual')">
                        <nz-form-label>Kilometraje Actual:</nz-form-label>
                        <nz-form-control>
                            <input nz-input formControlName="kilometraje_actual" />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item *ngIf="reparacion.get('informacion_adicional')?.get('kilometraje_siguiente')">
                        <nz-form-label>Kilometraje Siguiente:</nz-form-label>
                        <nz-form-control>
                            <input nz-input formControlName="kilometraje_siguiente" />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item *ngIf="reparacion.get('informacion_adicional')?.get('ruedas')">
                        <nz-form-label>Ruedas:</nz-form-label>
                        <nz-form-control>
                            <nz-select formControlName="ruedas" nzMode="tags"
                                [nzOptions]="[{label: 'DD', value: 'DD'}, {label: 'DI', value: 'DI'}, {label: 'TD', value: 'TD'}, {label: 'TI', value: 'TI'}]">
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>

            </div>
        </div>
    </div>

    <nz-form-item>
        <button nz-button nzType="primary" (click)="onSubmit()">save</button>
    </nz-form-item>
</form>