nz-table {
    width: 100%;

    th {
        font-weight: bold;
        text-align: center;
    }
}

@media (min-width: 576px) {
    nz-table {
        button {
            margin-right: 5px;
        }
    }
}

@media (max-width: 576px) {
    nz-table {
        button {
            margin-bottom: 5px;
        }
    }
}