nz-table {
    margin-top: 15px;
    width: 100%;

    th {
        font-weight: bold;
        text-align: center;
    }

    td {
        text-align: center;

    }
}

@media (min-width: 576px) {
    nz-select {
        width: 350px;
    }
}

@media (max-width: 576px) {
    nz-select {
        width: 100%;
    }
}