<h1>Lista de Clientes</h1>
<hr>

<nz-spin [nzSpinning]="!paginaCargada" [nzTip]="'Cargando vehículos...'">
</nz-spin>

<div nz-row *ngIf="paginaCargada">
    <nz-table nz-col #tablaClientes [nzData]="clientesFiltrados" [nzBordered]="true"
        [nzScroll]="isSmallScreen ? { x: '1000px' } : {}" [nzSize]="isSmallScreen ? 'small' : 'default'">
        <thead>
            <tr>
                <th>Cédula</th>
                <th>Nombres</th>
                <th nzCustomFilter>Apellidos
                    <nz-filter-trigger [(nzVisible)]="activarBuscador" [nzActive]="valorBusqueda.length > 0"
                        [nzDropdownMenu]="menu">
                        <span nz-icon nzType="search"></span>
                    </nz-filter-trigger>
                </th>
                <th>Correo E.</th>
                <th>Celular</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let cliente of tablaClientes.data">
                <td>{{ cliente.usuario.cedula }}</td>
                <td>{{ cliente.usuario.nombres }}</td>
                <td>{{ cliente.usuario.apellido_p + ' ' + cliente.usuario.apellido_m }}</td>
                <td>{{ cliente.usuario.correo_electronico }}</td>
                <td>{{ cliente.usuario.celular }}</td>
                <td>
                    <button nz-button nzType="primary" nzSize="small"
                        (click)="editCliente(cliente.id_cliente.toString())">Editar</button>
                </td>
            </tr>
        </tbody>
    </nz-table>

    <nz-dropdown-menu #menu="nzDropdownMenu">
        <div class="ant-table-filter-dropdown">
            <div class="search-box">
                <input type="text" nz-input placeholder="Apellidos" [(ngModel)]="valorBusqueda" />
                <button nz-button nzSize="small" nzType="primary" (click)="buscar()"
                    class="search-button">Buscar</button>
                <button nz-button nzSize="small" (click)="limpiarBusqueda()">Borrar</button>
            </div>
        </div>
    </nz-dropdown-menu>

</div>