nz-table {
    width: 100%;

    th {
        font-weight: bold;
        text-align: center;
    }

    td {
        text-align: center;
    }
}

@media (min-width: 576px) {
    .select-fichas-container {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        gap: 15px;
        margin-bottom: 10px;
    }

    nz-table {
        button {
            margin-right: 5px;
        }
    }
}

@media (max-width: 576px) {
    .select-fichas-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 10px;
    }

    nz-table {
        button {
            margin-bottom: 5px;
        }
    }
}