nz-table {
    width: 100%;
    margin-top: 20px;

    th {
        font-weight: bold;
        text-align: center;
    }

    td {
        text-align: center;
    }
}

@media (min-width: 576px) {
    nz-input-group {
        width: 25%;
    }

    nz-table {
        button {
            margin-right: 5px;
        }
    }
}

@media (max-width: 576px) {
    nz-input-group {
        width: 100%;
    }

    nz-table {
        button {
            margin-bottom: 5px;
        }
    }
}