nz-table {
    width: 100%;

    th {
        font-weight: bold;
        text-align: center;
    }

    td {
        text-align: center;
    }
}

nz-select {
    margin-bottom: 15px;
}

@media (min-width: 576px) {
    nz-select {
        width: 350px;
    }

    nz-table {
        button {
            margin-right: 5px;
        }
    }
}

@media (max-width: 576px) {
    nz-input-group {
        width: 100%;
    }

    nz-table {
        button {
            margin-bottom: 5px;
        }
    }
}