<h1>Lista de Fichas</h1>
<hr>

<nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
    <input type="text" nz-input placeholder="Ingrese cédula o placa" [(ngModel)]="parametro" />
</nz-input-group>

<ng-template #suffixIconButton>
    <button nz-button nzType="primary" nzSearch (click)="getFichasCliente()">
        <span nz-icon nzType="search"></span>
    </button>
</ng-template>

<nz-spin [nzSpinning]="!paginaCargada" [nzTip]="'Cargando fichas...'">
</nz-spin>

<div nz-row *ngIf="paginaCargada && fichas.length > 0">
    <nz-table nz-col #tablaFichas [nzData]="fichas" [nzBordered]="true"
        [nzScroll]="isSmallScreen ? { x: '1000px' } : {}">
        <thead>
            <tr>
                <th>Número Ficha</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Cédula</th>
                <th>Placa</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let ficha of tablaFichas.data">
                <td>{{ ficha.numero_ficha }}</td>
                <td>{{ ficha.fecha }}</td>
                <td>{{ ficha.cliente.usuario.cedula }}</td>
                <td>{{ ficha.cliente.usuario.nombres + ' ' + ficha.cliente.usuario.apellido_p }}</td>
                <td>{{ ficha.vehiculo.placa }}</td>
                <td>
                    <button nz-button nzType="primary" nzSize="small" routerLink="">Ver Ficha</button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>